$black: #000;
$white: #fff;

$lightGrey: #ccc;
$medGrey: #999;
$darkGrey: #666;

$deadRed: #f00;
$flagged: #7fff00;
$flaggedCorrectly: #dc143c;
$flaggedWrongly: #8b0000;

$oneNeighbor: #0080ff;
$twoNeighbor: #4000ff;
$threeNeighbor: #8000ff;
$fourNeighbor: #bf00ff;
$fiveNeighbor: #ff00ff;
$sixNeighbor: #ff00bf;
$sevenNeighbor: #ff0080;
$eightNeighbor: #ff0040;

$forestGreen: #090;
$swampGreen: #066;
$jungleGreen: #690;
$cityGrey: #669;
$oceanBlue: #0cf;
$roadBrown: #630;