@import "colors";

.atlas {
    display: block;
    width: 10000px;
    margin-top: 10px;

    .atlas-column {
        display: inline-block;
        margin-right: 1px;
    }

    .atlas-row {
        display: block;
    }
}
