@import "colors";

.atlas {
    margin-bottom: 15px;
}

.atlasSquare {
    height: 25px;
    width: 25px;

    &.forest {
        background-color: $forestGreen;
    }

    &.swamp {
        background-color: $swampGreen;
    }

    &.jungle {
        background-color: $jungleGreen;
    }

    &.city {
        background-color: $cityGrey;
    }

    &.ocean {
        background-color: $oceanBlue;
    }

    &.road {
        background-color: $roadBrown;
    }

    &.selected {
        background-color: $deadRed;
    }
}

.squareDetails {
    width: 100px;
    border: 1px $darkGrey solid;
    padding: 5px;
    display: inline-block;
    margin-right: 5px;

    span {
        display: block;
        text-align: center;
    }

    .title {
        font-weight: 700;
    }

    .terrain {
        text-transform: capitalize;
    }
}
