@import "colors";

.button-row, .display-row {
    height: 30px;
    margin-bottom: 5px;
    input {
        height: 25px;
        font-size: 14px;
        border: none;
        padding: 0px;
    }
}

button {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    &.doubleWide {
        width: 65px;
    }
    &.tripleWide {
        width: 100px;
    }
}

.divider {
    margin-left: 5px;
}

#operator {
    width: 10px;
    margin-left: 10px;
}

#display {
    width: 125px;
    margin-left: 5px;
}