@import "colors";
@import "global";

.imageManager {
    .imageList, .selectedImage {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }
}

.imageLink {
    display: block;
}

.imageDetails {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    max-width: 500px;

    .thumbnail {
        width: 200px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .imageStats {
        span {
            width: 100%;
            display: inline-block;
            text-overflow: ellipsis;
            overflow-x: hidden;
        }
    }

    button {
        float: right;
        position: fixed;
        right: 12%;
        top: 6%;
    }
}