@import "colors";

%selected {
    background-color: $lightGrey;

    &:hover, &:active {
        background-color: $lightGrey;
    }

    &.safe {
        font-weight: 800;
        
        &.neighbors-0 {
            text-indent: -9999px !important;
            white-space: nowrap;
        }
        &.neighbors-1 {
            color: $oneNeighbor;
        }
        &.neighbors-2 {
            color: $twoNeighbor;
        }
        &.neighbors-3 {
            color: $threeNeighbor;
        }
        &.neighbors-4 {
            color: $fourNeighbor;
        }
        &.neighbors-5 {
            color: $fiveNeighbor;
        }
        &.neighbors-6 {
            color: $sixNeighbor;
        }
        &.neighbors-7 {
            color: $sevenNeighbor;
        }
        &.neighbors-8 {
            color: $eightNeighbor;
        }
    }
}

.xray .mapSquare {
    @extend %selected;

    &.flag.safe {
        text-indent: -9999px !important;
        white-space: nowrap;
        background-size: contain;
        background-image: url("../minesweeper/images/flaggedWrong.png");
    }

    &.flag.mine {
        background-size: contain;
        background-image: url("../minesweeper/images/flag.png");
    }

    &.mine {
        background-size: contain;
        background-image: url("../minesweeper/images/mine.png");
    }

    &.unselected.safe {
        text-indent: 0px;
        background-color: $lightGrey;
    }
}

.mapSquare {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-color: black;
    border-width: 1px;
    font-size: 18px;
    vertical-align: bottom;

    &.flag {
        background-size: contain;
        background-image: url("../minesweeper/images/flag.png");
    }

    &.mine {
        text-indent: -9999px !important;
        white-space: nowrap;
    }

    &.selected {
        @extend %selected;

        &.mine {
            background-size: contain;
            background-image: url("../minesweeper/images/deadMine.png") !important;
        }
    }

    &.unselected {
        text-indent: -9999px;
        white-space: nowrap;
        background-color: $darkGrey;
    }

    &:hover, &:active {
        background-color: $medGrey;
    }
}